@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --mainBg: hsl(217, 54%, 11%);
    --cardBg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--mainBg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    background-color: var(--cardBg);
    max-width: 23.438rem;
    color: var(--softBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    border-radius: 0.625rem;
    margin: auto;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.319);
}

#equilibrium {
    width: 100%;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.319);
}

h1 {
    color: var(--white);
    margin: 1.25rem 0;
    cursor: pointer;
}

h1:hover {
    color: var(--cyan);
}

.info {
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
}

.eth {
    color: var(--cyan);
}

.eth>img {
    width: 0.813rem;
    margin-right: 0.5rem;
}

.timer>img {
    width: 1.063rem;
    margin: 0.5rem;
}

hr {
    margin: 1.25rem;
    border: 0.063rem solid var(--line);
}

.credits {
    display: flex;
    align-items: center;
    justify-content: left;
}

.credits>img {
    width: 2.5rem;
    border: 0.063rem solid var(--white);
    border-radius: 3.125rem;
    margin-right: 0.938rem;
}

.credits>p>a {
    color: var(--white);
    text-decoration: none;
}

p>a:hover {
    color: var(--cyan);
    
}